<div id="calendar"></div>
<a href="#modal-box--open">Open Modal Box</a>

<div id="modal-box--open" class="modal-box">
        <a href="#modal-box--close" class="modal-box__overlay"></a>
            <div class="modal-box__content">
                        <a href="#modal-box--close" class="modal-box--close">Close Modal Box</a>
                                <h2>Modal Box</h2>
                                        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            </div>
</div>
